@font-face {
  font-family: '思源常规';
  font-display: swap;
  src: url('//at.alicdn.com/t/webfont_6g1pmwcplx.eot'); /* IE9*/
  src: url('//at.alicdn.com/t/webfont_6g1pmwcplx.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('//at.alicdn.com/t/webfont_6g1pmwcplx.woff2') format('woff2'),
  url('//at.alicdn.com/t/webfont_6g1pmwcplx.woff') format('woff'), /* chrome、firefox */
  url('//at.alicdn.com/t/webfont_6g1pmwcplx.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('//at.alicdn.com/t/webfont_6g1pmwcplx.svg#思源黑体-普通') format('svg'); /* iOS 4.1- */
}
