@font-face {
  font-family: '站酷小薇';
  font-display: swap;
  src: url('//at.alicdn.com/t/webfont_bf0lnukcf9d.eot'); /* IE9*/
  src: url('//at.alicdn.com/t/webfont_bf0lnukcf9d.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('//at.alicdn.com/t/webfont_bf0lnukcf9d.woff2') format('woff2'),
  url('//at.alicdn.com/t/webfont_bf0lnukcf9d.woff') format('woff'), /* chrome、firefox */
  url('//at.alicdn.com/t/webfont_bf0lnukcf9d.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('//at.alicdn.com/t/webfont_bf0lnukcf9d.svg#站酷小薇体') format('svg'); /* iOS 4.1- */
}
