@font-face {
  font-family: '东竹石林';
  font-display: swap;
  src: url('//at.alicdn.com/t/webfont_dclydn31qln.eot'); /* IE9*/
  src: url('//at.alicdn.com/t/webfont_dclydn31qln.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('//at.alicdn.com/t/webfont_dclydn31qln.woff2') format('woff2'),
  url('//at.alicdn.com/t/webfont_dclydn31qln.woff') format('woff'), /* chrome、firefox */
  url('//at.alicdn.com/t/webfont_dclydn31qln.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('//at.alicdn.com/t/webfont_dclydn31qln.svg#杨任东竹石体-Bold') format('svg'); /* iOS 4.1- */
}
